<section class="about" id="about">
    <div class="container">
        <div class="about__inner">
            <h2 class="about__title title" data-aos="fade-up">About us</h2>
            <div class="about__row">
                <div class="about__block" >
                    <div class="about__photo">
                        <img src="assets/images/about_icon2.png" alt="image" class="about__img">
                    </div>
                    <p class="about__text">We have created a unique space for traders of all experience levels. We are a
                        friendly team of professionals dedicated to providing you with a whole new level of trading
                        experience. Our platform offers a wide range of financial instruments, including trading with
                        pairs, so you can maximize your opportunities in the market.</p>
                </div>
                <div class="about__block">
                    <div class="about__photo">
                        <img src="assets/images/about_icon2.png" alt="image" class="about__img">
                    </div>
                    <p class="about__text">Equipped with advanced technology and security, we ensure a reliable and
                        worry-free environment for your trading operations. Our mission is to contribute to your
                        financial growth, providing a simple and intuitive interface, analytical tools, and up-to-date
                        information.</p>
                </div>
                <div class="about__block">
                    <div class="about__photo">
                        <img src="assets/images/about_icon3.png" alt="image" class="about__img">
                    </div>
                    <p class="about__text">We have a support team always ready to assist you in any situation and answer
                        your questions. We strive to become your trusted partner in achieving your financial goals.
                        Join us and explore new horizons of trading together!</p>
                </div>
            </div>
            <button  class="about__button" (click)="toRegistration()">Registration</button>
        </div>
    </div>
    <img src="assets/images/about_bg.png" alt="image" class="about__bg">
</section>