<section class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__photo">
                <img src="assets/images/logo.png" alt="image" class="footer__logo">
            </div>
            <div class="footer__texts">
                <p class="footer__text">Option Dynamic, Inc. - a registered company in the USA, with a legal address at
                    456 Oak Street, Chicago, IL 60601. Our dealer license number is DL-67890. We also hold an FSCA
                    (Financial Sector Conduct Authority) license with the number FSCA-12345. These licenses confirm the
                    legality and reliability of our financial services.</p>
                <p class="footer__text copy">Copyright ©2019 - 2023 Crypto Exchange by OptionDynamic. All rights
                    reserved.</p>
            </div>
        </div>
    </div>
</section>