<div class="loginPopup" (click)="this.loginService.close()">
    <div class="container">
        <div class="loginPopup__content form">
            <div class="login" *ngIf="login">
                <span class="login__name">Login</span>
                <div class="login__block">
                    <span class="form__name">Email:</span>
                    <input type="email" class="form__input">
                </div>
                <div class="login__block">
                    <span class="form__name">Password:</span>
                    <input type="password" class="form__input">
                </div>
                <div class="login__buttons">
                    <button class="form__button" (click)="forgotButton()">Forgot password</button>
                    <button class="form__button" (click)="loginButton()">Login</button>
                </div>
                <p class="login__bottom">If you are not registered yet <button (click)="registrationOpenButton()">Click
                        Here</button> </p>
            </div>

            <div class="login" *ngIf="forgot">
                <div class="login__name">Forgot password</div>
                <div class="login__block">
                    <span class="form__name">Email:</span>
                    <input type="email" class="form__input">
                </div>
                <button class="forgot__button form__button" (click)="sendEmailButton()">send to email</button>
            </div>
        </div>
    </div>
</div>