<section class="trade" id="trading">
    <div class="trade__plash">
        <div class="container">
            <div class="trade__inner">
                <div class="trade__row">
                    <div class="trade__photo">
                        <img src="assets/images/trade_img.png" alt="image" class="trade__img">
                    </div>
                    <div class="trade__block" data-aos="fade-up">
                        <h2 class="trade__title title">Trade on the go. Anywhere, anytime.</h2>
                        <p class="trade__subtitle">Stay up to date with our mobile version and desktop client.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/coin_bg.png" alt="image" class="trade__bg">
</section>