<section class="be">
    <div class="container">
        <div class="be__inner">
            <h2 class="be__title title" data-aos="fade-up">Be the ruler of the portfolio of cryptocurrencies</h2>
            <div class="be__block">
                <div class="be__box">
                    <div class="be__photo">
                        <img src="assets/images/be_icon.png" alt="image" class="be__img">
                    </div>
                    <div class="be__texts" data-aos="fade-up-left">
                        <span class="be__textsTitle">Top up your account</span>
                        <p class="be__textsSubtitle"> Add funds to your cryptocurrency account to start trading
                            cryptocurrency.
                        </p>
                    </div>
                </div>
                <div class="be__box">
                    <div class="be__photo">
                        <img src="assets/images/be_icon2.png" alt="image" class="be__img">
                    </div>
                    <div class="be__texts" data-aos="fade-up-left">
                        <span class="be__textsTitle">Verify identity</span>
                        <p class="be__textsSubtitle"> Complete the identity verification process to secure your account
                            and transactions.
                        </p>
                    </div>
                </div>
                <div class="be__box">
                    <div class="be__photo">
                        <img src="assets/images/be_icon3.png" alt="image" class="be__img">
                    </div>
                    <div class="be__texts" data-aos="fade-up-left">
                        <span class="be__textsTitle">Start trading</span>
                        <p class="be__textsSubtitle"> Done! Buy/sell cryptocurrency, set up recurring purchases for your
                            investments, and discover what NAME has to offer.
                        </p>
                    </div>
                </div>
            </div>
            <button class="be__button" (click)="startTrading()">Start Trading</button>
        </div>
    </div>
    <img src="assets/images/bg.png" alt="image" class="be__bg">
</section>