<section class="statistic">
    <div class="container">
        <div class="statistic__inner">
            <div class="statistic__row">
                <div class="statistic__left">
                    <div class="statistic__box">
                        <span class="statistic__title title">>100,000</span>
                        <div class="statistic__line"></div>
                        <div class="statistic__text">Number of Registered Users</div>
                    </div>
                    <div class="statistic__box">
                        <span class="statistic__title title">75%</span>
                        <div class="statistic__line"></div>
                        <div class="statistic__text">Successful Traders</div>
                    </div>
                    <div class="statistic__box">
                        <span class="statistic__title title">>200</span>
                        <div class="statistic__line"></div>
                        <div class="statistic__text">Financial instruments</div>
                    </div>
                    <div class="statistic__box">
                        <span class="statistic__title title">>100 million $</span>
                        <div class="statistic__line"></div>
                        <div class="statistic__text">Daily trading volume</div>
                    </div>
                    <div class="statistic__box">
                        <span class="statistic__title title">>95%</span>
                        <div class="statistic__line"></div>
                        <div class="statistic__text">Deals, quicklier than 1 sec</div>
                    </div>
                    <div class="statistic__box">
                        <span class="statistic__title title">24/7</span>
                        <div class="statistic__line"></div>
                        <div class="statistic__text">Our team is available 24/7</div>
                    </div>
                </div>
                <div class="statistic__right">
                    <h2 class="statistic__name">Statistic</h2>
                </div>
            </div>
        </div>
    </div>
</section>