<main class="main max-width">
    <div class="wrapper">
        <app-header></app-header>
        <div class="cabinet__box">
            <div class="cabinet__menu">
                <a routerLink="rating">rating</a>
                <a routerLink="wallet">wallet</a>
                <a routerLink="deal">deal</a>
                <a routerLink="dial">dial</a>
                <a routerLink="settings">settings</a>
            </div>
            <div class="cabinet__content">
                <div class="containterSmall">
                    <div class="cabinet__page">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


