.cabinet {

    &__box {
        width: 100%;
        background-color: red;
        display: flex;
        align-items: flex-start;

    }

    &__menu {
        width: 300px;
        a {
            display: block;
        }
    }

    &__content {
        width: 100%;
        background-color: green;
        align-self: stretch;
    }

    &__page {
    }
}

