<section class="why">
    <div class="container">
        <div class="why__inner">
            <div class="why__row">
                <div class="why__left">
                    <div class="why__box">
                        <div class="why__cube"></div>
                        <div class="why__block">
                            <span class="why__name">Superior Technology</span>
                            <p class="why__text"> We utilize cutting-edge technology to ensure instant trades and
                                reliable protection of your capital.
                            </p>
                        </div>
                    </div>
                    <div class="why__box">
                        <div class="why__cube"></div>
                        <div class="why__block">
                            <span class="why__name">Superior Technology</span>
                            <p class="why__text"> We utilize cutting-edge technology to ensure instant trades and
                                reliable protection of your capital.
                            </p>
                        </div>
                    </div>
                    <div class="why__box">
                        <div class="why__cube"></div>
                        <div class="why__block">
                            <span class="why__name">Superior Technology</span>
                            <p class="why__text"> We utilize cutting-edge technology to ensure instant trades and
                                reliable protection of your capital.
                            </p>
                        </div>
                    </div>
                    <div class="why__box">
                        <div class="why__cube"></div>
                        <div class="why__block">
                            <span class="why__name">Superior Technology</span>
                            <p class="why__text"> We utilize cutting-edge technology to ensure instant trades and
                                reliable protection of your capital.
                            </p>
                        </div>
                    </div>
                    <div class="why__box">
                        <div class="why__cube"></div>
                        <div class="why__block">
                            <span class="why__name">Superior Technology</span>
                            <p class="why__text"> We utilize cutting-edge technology to ensure instant trades and
                                reliable protection of your capital.
                            </p>
                        </div>
                    </div>
                    <div class="why__box">
                        <div class="why__cube"></div>
                        <div class="why__block">
                            <span class="why__name">Superior Technology</span>
                            <p class="why__text"> We utilize cutting-edge technology to ensure instant trades and
                                reliable protection of your capital.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="why__right">
                    <h2 class="why__title">why us</h2>
                </div>
            </div>
        </div>
    </div>
</section>