<section class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__row">
                <div class="intro__left">
                    <div class="intro__photo">
                        <img src="assets/images/bitcoin_gif.gif" alt="gif" class="intro__img">
                    </div>
                </div>
                <div class="intro__right">
                    <h1 class="intro__title" data-aos="fade-up">This is an <span>intelligence</span> trading platform</h1>
                    <p class="intro__subtitle" data-aos="fade-up">jump start your crypto portfolio</p>
                    <div class="intro__buttons">
                        <button class="intro__button" (click)="registrationOpenButton()">sign in</button>
                        <button class="intro__button" (click)="loginButton()">log in</button>
                    </div>
                </div>
            </div>

        </div>

        <ng-content></ng-content>
    </div>
</section>