@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.intro {
    width: 100%;
    background-color: black;

    &__inner {
        padding: 100px 0px 70px 0px;
        position: relative;
    }

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__left {
        width: 36%;

        @media (max-width: 575px) {
            width: 70%;
        }
    }

    &__photo {
        width: 100%;
    }

    &__img {
        width: 100%;
    }


    &__right {
        width: 58%;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 30px;
        }
    }

    &__title {
        @include adaptiveFont(34, 24);
        color: white;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;

        span {
            color: $yellow;
        }

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__subtitle {
        text-align: right;
        @include adaptiveFont(19, 16);
        color: white;
        margin-top: 10px;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__button {
        display: block;
        @include adaptiveValue('width', 280, 100, 0);
        @include adaptiveValue('height', 64, 25, 0);
        @include adaptiveFont(16, 10);
        background-color: #1C1C1C;
        border-radius: 50px;
        color: $yellow;
        box-shadow: 0px 0px 7px rgb(88, 88, 88);
        margin-top: 36px;
        
    }

    &__button:first-child {
        margin-right: 20px;
    }

}