<div class="popup">
    <div class="container">
        <div class="popup__content">
            <div class="popup-top">
                <h2 class="popup-top__title">Registration</h2>
            </div>
            <div class="popup__row">
                <div class="popup__column">
                    <div class="popup__block">
                        <span class="form__name">Name:</span>
                        <input type="text" class="form__input">
                    </div>
                    <div class="popup__block">
                        <span class="form__name">Email:</span>
                        <input type="email" class="form__input">
                    </div>
                    <div class="popup__block">
                        <span class="form__name">Password:</span>
                        <input type="password" class="form__input">
                    </div>
                </div>
                <div class="popup__column">
                    <div class="popup__block">
                        <span class="form__name">Surname:</span>
                        <input type="text" class="form__input">
                    </div>
                    <div class="popup__block">
                        <span class="form__name">Phone:</span>
                        <input type="tel" class="form__input">
                    </div>
                    <div class="popup__block">
                        <span class="form__name">Repeat password:</span>
                        <input type="password" class="form__input">
                    </div>
                </div>
            </div>
            <button class="form__button" (click)="registrationCloseButton()">Start Trading</button>
            <p class="popup__text">By clicking on the registration button, I accept all the terms of use of the site.
            </p>
        </div>
    </div>

</div>
